body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/backgrounds/nasa-Q1p7bh3SHj8-unsplash.jpg); /* Replace 'background-image.jpg' with the path to your image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 
}
.leftnav {
 
 position: absolute;
 top: 100px;
 left: 0;
 

  width: 200px; /* Adjust the width as needed */
  height: 300px;
  background-color: transparent; /* Transparent background */

  overflow-y: auto; /* Add scrollbar if content overflows */
  padding-top: 60px; /* Adjust padding if needed */
}

.leftnav nav {
  padding: 15px;
}

.leftnav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.leftnav .nav-link {
  color:white; /* Set link color */
  border: none;
  font-family: cursive;
}

.leftnav .nav-link:hover {
  text-decoration: underline; /* Remove underline on hover */
  color: rgb(21, 13, 1);
  background-color: rgb(182, 188, 188); /* Change color on hover */
  border-radius: 20px;
  transition-duration: 500ms;
}

.landing {
 position: absolute;
 top: 100px;
 
 
  
  width: 500px; /* Adjust the width as needed */
  height: 500px;
  background-color: transparent; /* Transparent background */

 
  color: white;
  overflow-y: auto; /* Add scrollbar if content overflows */
  padding-top: 200px; /* Adjust padding if needed */
}

.admin{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 248, 255, 0.484);

}

.list-group{ 
  
  height: 400px;
  width: 400px;
background-color: antiquewhite;

 
}
.list-group ul {
 
  margin: auto;
 }
.list-group ul li{
  width: 100%;
  height: 40px;
  margin: auto;
  
  
} 
.list-group ul li Link{
 border: none;
} 

.card{
  height: 400px;
  width: 400px;
  margin: auto;
  
}
/* -----------------------ADD TASk---------------------- */

.AddEmp-cont h1{
  font-weight: 500;
  margin: 20px auto;
  background-color: rgba(240, 255, 255, 0.473);
}
.AddEmp-cont form{
  background-color: gainsboro;
  width: 500px;
  height: auto;
  padding:24px;
  margin: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.AddEmp-cont form input , textarea , select{
  width: 100%;
  height: 40px;
  margin: auto;
}
.AddEmp-cont input[type="submit"]
{
  background-color: black;
  width: 70%;
  border: solid 1px black;
  color: aliceblue;
}
.AddEmp-cont input[type="submit"]:active
{
  background-color: aliceblue;
  color: black;
}
/* ----------admin login-------- */
.admin-login-body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-tech-artificial-intelligence-banner-background-picture-image_1051501.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.wrapper{
  width: 420px;
  backdrop-filter: blur(30px);
  background: transparent;
  box-shadow: 1px 1px 10px 8px black;
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  margin-left: -480px;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  background: linear-gradient(120deg,rgb(221, 151, 21),gold);
  margin: 30px 0;
  border-radius: 8px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255,255,255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: white;
}
.input-box .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
.wrapper .forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}
.forgot label input{
  accent-color: white;
  margin-right: 4px;
}
.forgot a{
  color: white;
  text-decoration: none;
}
.forgot a:hover{
  text-decoration: underline;
}
.wrapper button{
  width: 60%;
  height: 45px;
  background-color:rgb(4, 4, 94);
  box-shadow: 1px 1px 10px 2px white;
  margin-top: 10px;
  margin-left: 65px;
  border: none;
  outline: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  color:gold;
  font-weight: 700;
  font-size: larger;
}
/* --------- reset password mail / reset password / confrm otp   page ----------- */

/* styles.css */

  
.forgetbg{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  background:linear-gradient(to top right, rgb(182, 164, 202), rgb(185, 247, 185)) ;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mainforget {
  margin: auto ;
  margin-top: 200px;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(221, 66, 66);
  color: black;
  background-color: white;
}

h2 {
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(18, 95, 91);
}

.form-control {
  margin-bottom: 15px;
}

.btn-primary {
  width: 100%;
}

.form-text {
  margin-top: 5px;
}

p {
  margin-top: 10px;
}

